{% extends "layout.html" %}
{% block title %}Smarthouse - keep under control your home activities{% endblock %}
{% block container %}
<div class="row row-eq-height">
  <div class="col-md-8">
    <ul>
      <li><i class="fa fa-user fa-fw"></i><strong>Authors:</strong> <em><a href="https://github.com/aletundo">Alessandro Tundo</a> &amp; <a href="https://github.com/oet93">Matteo Vaghi</a></em></li>
      <li><i class="fa fa-github fa-fw"></i><strong>Repository:</strong> <em><a href="https://github.com/aletundo/smarthouse">contribute!</a></em></li>
      <li>
        <i class="fa fa-list fa-fw"></i><strong>Libraries:</strong>
        <ul>
          <em>
            <li><a href="https://hidden-markov.readthedocs.io/en/latest/">Hidden Markov Model</a></li>
            <li><a href="http://pandas.pydata.org/">pandas</a></li>
            <li><a href="http://scikit-learn.org/stable/">scikit-learn</a></li>
            <li><a href="https://www.scipy.org/">SciPy</a></li>
            <li><a href="http://flask.pocoo.org/">Flask</a></li>
            <li><a href="http://www.chartjs.org/">Chart.js</a></li>
            <li><a href="https://d3js.org/">D3.js</a></li>
            <li><a href="https://plot.ly/javascript/">plotly.js</a></li>
            <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
            <li><a href="https://jquery.com/">jQuery</a></li>
          </em>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-md-4">

  </div>
</div>
{% endblock %}
