{% extends "layout.html" %}
{% block title %}Smarthouse - keep under control your home activities{% endblock %}
{% block container %}
<div class="row row-eq-height">
  <div class="col-md-8">
    <div id="randomResults">
      <div class="row">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#randomPieTab">States doughnut chart</a></li>
          <li><a data-toggle="tab" href="#randomLineTab">States sequence chart</a></li>
        </ul>

        <div class="tab-content">
          <div id="randomPieTab" class="tab-pane fade in active">
            <div class="row center-block" style="height:400px; width:400px">
              <canvas id="randomPieChart"></canvas>
            </div>
          </div>
          <div id="randomLineTab" class="tab-pane fade">
            <div>
              <canvas id="randomLineChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Observations</div>
            <!-- List group -->
            <ul id="observationsRandomList" class="list-group">
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-6">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">States</div>
              <!-- List group -->
              <ul id="statesRandomList" class="list-group">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div id="preloadedResults" style="display:none;">
      <div class="row">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#preloadedPieTab">States doughnut chart</a></li>
          <li><a data-toggle="tab" href="#preloadedRadarTab">States accuracy chart</a></li>
          <li><a data-toggle="tab" href="#preloadedLineTab">States sequence chart</a></li>
          <li><a data-toggle="tab" href="#preloadedPerformanceTab">Performance</a></li>
        </ul>

        <div class="tab-content">
          <div id="preloadedPieTab" class="tab-pane fade in active">
            <div class="row center-block" style="height:400px; width:400px">
              <canvas id="preloadedPieChart"></canvas>
            </div>
          </div>
          <div id="preloadedRadarTab" class="tab-pane fade">
            <div>
              <canvas id="preloadedRadarChart" style="height:300px; width:300px"></canvas>
            </div>
          </div>
          <div id="preloadedLineTab" class="tab-pane fade">
            <div>
              <canvas id="preloadedLineChart" style="height:400px; width:400px"></canvas>
            </div>
          </div>
          <div id="preloadedPerformanceTab" class="tab-pane fade">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>F-measure</th>
                    <th>Precision</th>
                    <th>Recall</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td id="f_measure"></td>
                    <td id="precision"></td>
                    <td id="recall"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="col-md-4">
    <ul id="mode" class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#random">Random</a></li>
      <li><a data-toggle="tab" href="#preloaded">Preloaded</a></li>
    </ul>
    <!-- Random tab -->
    <div class="tab-content">
      <div id="random" class="tab-pane fade in active">
        <br>

        <div class="form-group col-md-12">
          <label for="sensors_config">Sensors configuration:</label>
          <select class="form-control" id="sensors_config">
            <option value="OrdonezA">OrdonezA</option>
            <option vaue="OrdonezB">OrdonezB</option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label for="rate">Sampling rate:</label>
          <input type="text" class="form-control" id="rate" placeholder="Rate in seconds" value="">
        </div>

        <div class="form-group col-md-6">
          <label for="samples">Observations:</label>
          <input type="text" class="form-control" id="samples" placeholder="Number of samples" value="">
        </div>

        <div class="col-md-12">
          <em>Observation: </em><strong><span class="configuration" style="letter-spacing: 2px;"></span></strong>
          <br>
          <br>
        </div>

        <div class="col-md-6">
          <ul class="list-group">
            {% for k,s in sensors_1.items() %}
            <li class="list-group-item sensor{{k}}"><span>{{ s }}</span> <div class="led-red pull-right"></div></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="list-group">
            {% for k,s in sensors_2.items() %}
            <li class="list-group-item sensor{{k}}"><span>{{ s }}</span> <div class="led-red pull-right"></div></li>
            {% endfor %}
          </ul>
        </div>
        <hr>
        <center>
          <div class="col-md-12">
            <div class="btn-group">
              <button type="button" id="samplingButton" class="btn btn-success"><i class="fa fa-play fa-fw"></i>Sampling</button>
              <button type="button" class="btn btn-warning"><i class="fa fa-step-forward fa-fw"></i>Sampling step</button>
            </div>
            <hr>
            <button type="button" id="viterbiRandomButton"class="btn btn-primary btn-block" disabled><i class="fa fa-magic fa-fw"></i>Run Viterbi algorithm</button>
          </div>
        </center>
      </div>
      <!-- /Random tab -->
      <!-- Preloaded tab -->
      <div id="preloaded" class="tab-pane fade">
        <br>
        <div class="col-md-12">
          <div class="form-group">
            <label for="dataset">Dataset:</label>
            <select class="form-control" id="dataset">
              <option value="OrdonezA">Ordonez A</option>
              <option value="OrdonezB">Ordonez B</option>
            </select>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label for="training">Training days:</label>
            <br>
            <div id="training" class="col-md-12">
            </div>
            <br>
            <div id="event-start">
            </div>
            <div id="event-end">

            </div>
          </div>
        </div>
        <hr>
        <center>
          <div class="col-md-12">
            <hr>
            <button type="button" id="viterbiPreloadedButton" class="btn btn-primary btn-block"><i class="fa fa-magic fa-fw"></i>Run Viterbi algorithm</button>
          </div>
        </center>
      </div>
      <!-- /Preloaded tab -->
    </div>
  </div>
</div>
{% endblock %}
