{% extends "layout.html" %}
{% block title %}Smarthouse - keep under control your home activities{% endblock %}
{% block container %}
<div class="row row-eq-height">
  <div class="col-md-12">

    <div class="row">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#confusionMatricesTab">Confusion matrices heatmap</a></li>
        <li><a data-toggle="tab" href="#fmeasureTab">F-Measure bar chart</a></li>
        <li><a data-toggle="tab" href="#accuracyTab">Accuracy radar chart</a></li>
      </ul>

      <div class="tab-content">
        <div id="confusionMatricesTab" class="tab-pane fade in active">

          <div style="display:inline-block;" id="heatMapA"></div>
          <div style="display:inline-block;" id="heatMapLegendA"></div>

          <div style="display:inline-block;" id="heatMapB"></div>
          <div style="display:inline-block;" id="heatMapLegendB"></div>
        </div>
        <div id="fmeasureTab" class="tab-pane fade">
          <center>
            <div id="fmeasureChart" style="height:400px; width:600px">
            </div>
          </center>
        </div>
        <div id="accuracyTab" class="tab-pane fade">
          <div class="row">
            <center>
              <canvas id="accuracyChart" style="height:400px; width:400px"></canvas>
            </center>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>F-Measure</th>
              <th>Precision</th>
              <th>Recall</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>OrdonezA</th>
              <td>0.856</td>
              <td>0.873</td>
              <td>0.885</td>
            </tr>
            <tr>
              <th>OrdonezB</th>
              <td>0.603</td>
              <td>0.613</td>
              <td>0.654</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ url_for('static', filename='js/heatmap.js') }}"></script>
<script src="{{ url_for('static', filename='js/performance.js') }}"></script>
{% endblock %}
