.help-block{
  color: red
}

.led-red {
    width: 12px;
    height: 12px;
    background-color: #F00;
    border-radius: 50%;
    display: inline-block;
}

.led-green {
    width: 12px;
    height: 12px;
    background-color: #7D0;
    border-radius: 50%;
    display: inline-block;
}

.noUi-connect	{
  background: #337ab7;
}

.axis text {
    font: 10px sans-serif;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#dataView{
  margin-top:50px;
}
